.git
cache/*.json
ss.json
services.json
tailscale.json
last_scan.txt
extensions/providers_state.json
extensions/enabled/*/routes.json
CADDYFILES/
bigfile.txt
CITADEL.png
CITADELCADDYFILE
hello_world/venv
