# CITADEL FastAPI web port
PublishPort=10999:10999

# CITADEL Tailscale NET_ADMIN capability
AddCapability=NET_ADMIN

# CITADEL Tailscale NET_RAW capability
AddCapability=NET_RAW

# CITADEL Tailscale tun device
AddDevice=/dev/net/tun

# CITADEL Tailscale state volume
Volume=tailscale:/var/lib/tailscale
