HOST=127.0.0.1
CITADEL_WEBUI_PORT=10999
CITADEL_PORT=1000
CITADEL_SCAN_ON_START=true
CITADEL_SCAN_DELAY=5
CITADEL_DATA_DIR=/opt/CITADEL
CITADEL_GENERATE_DIR=/opt/CITADEL/generated
CITADEL_SUBNET_IP=
CITADEL_ENABLE_TAILSCALE=false
TS_STATE_DIR=/opt/CITADEL/tailscale
TS_AUTHKEY=
TS_HOSTNAME=
