{
  "whitelist": [],
  "blacklist": [],
  "cloudflare_defaults": {
    "configured": true,
    "whitelist": true,
    "emails": [
      "admin@example.com"
    ]
  },
  "cloudflare": {
    "399": {
      "subdomains": [
        "399",
        "citadel"
      ],
      "whitelist": true,
      "emails": [
        "admin@example.com"
      ]
    }
  }
}
