{
	auto_https off
}

{TS_DOMAIN}:443 {
	tls /var/lib/tailscale/certs/cert.pem /var/lib/tailscale/certs/key.pem

	route {
		import /opt/citadel/CADDYFILES/*.caddy

		reverse_proxy 127.0.0.1:800
	}
}

https://:443 {
	tls /opt/citadel/certs/local.pem /opt/citadel/certs/local-key.pem

	route {
		import /opt/citadel/CADDYFILES/*.caddy

		reverse_proxy 127.0.0.1:800
	}
}
